body{
	background-color: #222222;

}
#topThreeAnimes{
  border-bottom: 5px solid rgb(68, 68, 68);
}
.whiteSpace{
  margin-top: 5%;
}
#animeList{
	color: #ffffff;
  margin-left: 5%;
	font-size: 20px;
  white-space: pre-wrap;
  max-width: 70%;
  display: flex;
}
.animes{
  border-style: solid;
  border-radius: 1%;
  border-color: rgb(68, 68, 68);
  border-width: 10px;
  
}
.animeImage{
  display: flex;
  margin-left: 10%;
  max-width: 25%;
  margin-top: 5%;
}
.animeTitle{
  margin-left: 35%;
  margin-top: -35%;
  font-size: 30px;
}

.animeRanking{
  margin-left: 35%;
  font-size: 30px;
}
.animeEpisodes{
  margin-left: 35%;
  font-size: 30px;
}
.animeStatus{
  margin-left: 35%;
  font-size: 30px;
}

.watchlistText{
	color: #ffffff;
	margin-left: 5%;
    margin-top: 5%;
	font-weight: 900;
	font-size: 200%;

}
* {box-sizing: border-box;}
body {
	font-family: Verdana, sans-serif;
}
.mySlides {
	display: none;
}
img {
	vertical-align: middle;
	border-radius: 2%;
}

.slideshow-container {
  max-width: 1000px;
  max-height: 1000px;
  margin-top: 5%;
  position: relative;
  margin-left: 5%;
 
}

.slideShowTitle {
  color: #ffffff;
  margin-left: 105%;
  margin-top: -55%;
  padding: 8px 12px;
  width: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 75px;
  font-weight: 900;
}
.description{
	color: #ffffff;
	margin-left: 105%;
	font-size: 15px;
	padding: 8px 12px;
	width: 50%;
}

.homeRate{
  margin-left: 106%;
  border-style: solid;
  border-radius: 20px;
  background-color: #616161;
  width: 15%;
  text-align: center;
  margin-top: 5%;
}

.dot {
  height: 15px;
  width: 15px;
  margin-left: 5%;
  margin-top: 8%;
  background-color: rgb(77, 77, 77);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ff0000;
}

.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
	from {opacity: .6} 
	to {opacity: 1}
}
@media only screen and (max-width: 300px) {
	.slideShowTitle {font-size: 11px}
	.watchlistText {font-size: 11px}
  .animeImage {display: none;}
  }
  @media only screen and (max-width: 400px) {
	.slideShowTitle {font-size: 14px}
	.watchlistText {font-size: 14px}
  .animeImage {display: inline;}
  }
  @media only screen and (max-width: 500px) {
	.slideShowTitle {font-size: 16px}
	.watchlistText {font-size: 16px}
  .animeImage {width: 20%;}
  }
  
