.profilePicView{
    margin-top: 10%;
    margin-left: 5%;
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 10%;
}

.pfpView{
    max-width: 60%;
    margin-top: 2%;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    border-width: 1%;
}
.logout-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:30%;
    height: 50%;
    margin-left: 5%;
    font-family: 'Electrolize', sans-serif;
    font-size: xx-large;
    font-weight: 900;
}
.logout-button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: 'Electrolize', sans-serif;
}