.profilePicView{
    margin-top: 10%;
    margin-left: 5%;
    background-color: black;
}

.pfpView{
    max-width: 15%;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    max-bo
}
.logout-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:30%;
    height: 50%;
    margin-left: 5%;
    font-family: 'Electrolize', sans-serif;
    font-size: xx-large;
    font-weight: 900;
}
.logout-button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: 'Electrolize', sans-serif;
}