<link href = "/CSS/profile.css" rel= "stylesheet" type = "text/css" >


{{#if isLoggedIn}}
	<div class="profilePicView">
		<img src="/images/ErenPFP.jpg" class="pfpView"></a>

			<form action="/account/sign-out"  method="POST"> 
				<input type="hidden" name="_csrf" value="{{csrfToken}}">

				<p>{{user.username}}</p>
			{{#if isLoggedIn}}
			<p>{{user.username}}</p>
				<button class="logout-button" type="submit" name="logout" id="logout">Logout</button>
			{{/if}}	
			</form>
	</div>
{{/if}}	


