<link href = "/CSS/login.css" rel= "stylesheet" type = "text/css">

<title>REGISTER</title>

<div class="register_center">
    {{#if errors.length}}
        {{#each errors}}
            <p class="register_error_msg">{{this}}</p>
        {{/each}}
    {{/if}}
    <div class="register_center" >
        <form action="/account/sign-up" method="POST" name="register">
            <div class="Gform-group_has-success">
                <label class="Gform-label">Username:</label>
                <input class="Gform-input" name="username" placeholder="Username" required>
            </div>
            <div class="Gform-group">
                <label class="Gform-label">Password:</label>
                <input class="Gform-input" type="password" name="password" placeholder="Password" required>
            </div>      
            <div class="Gform-group">
                <label class="Gform-label" for="input-example-1">Repeat Password:</label>
                <input class="Gform-input" type="password" name="repeat_password" placeholder="Repeat Password" required>
            </div> 
                <button class="registerBtn" type="submit" value="register">Register</button>
        </form>
    </div>
</div>