<link href = "/CSS/main.css" rel= "stylesheet" type = "text/css" >


<title>WatchList</title>

<div class="slideshow-container">

<div class="mySlides fade">
	<img src="/images/AoT.jpg" style="width:100%">
	<div class="homeRate">
		<p>IMDB 9/10⭐</p>
	</div>
	<div class="text">
		<p>Attack on Titan</p>
	</div>
	<div class="description">
		<p>When man-eating Titans first appeared 100 years ago, humans found safety behind massive walls that stopped the giants in their tracks. But the safety they have had for so long is threatened when a colossal Titan smashes through the barriers, causing a flood of the giants into what had been the humans' safe zone.</p>
	</div>
</div>

<div class="mySlides fade">
	<img src="/images/COTE.jpg" style="width:100%">
	<div class="homeRate">
		<p>IMDB 7.7/10⭐</p>
	</div>
	<div class="text">
		<p>Classroom of the Elite</p>
	</div>
	<div class="description">
		<p>Kōdo Ikusei Senior High School is a leading prestigious school with state-of-the-art facilities where nearly 100% of students go on to university or find employment. The students there have the freedom to wear any hairstyle and bring any personal effects they desire. Kōdo Ikusei is a paradise-like school, but the truth is that only the most superior of students receive favorable treatment.</p>
	</div>
</div>

<div class="mySlides fade">
	<img src="/images/juju.jpg" style="width:100%">
	<div class="homeRate">
		<p>IMDB 8.6/10⭐</p>
	</div>
	<div class="text">
		<p>Jujustu Kaisen</p>
	</div>
	<div class="description">
		<p>Yuji Itadori, a kind-hearted teenager, joins his school's Occult Club for fun, but discovers that its members are actual sorcerers who can manipulate the energy between beings for their own use. He hears about a cursed talisman - the finger of Sukuna, a demon - and its being targeted by other cursed beings.</p>
	</div>
</div>

</div>
<br>

<div style="text-align:left">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<p class="watchlistText">Top Animes on the Week:</p>


<div id="animeList">
	<p id="animeTitle"></p>
</div>


<script>
let slideIndex = 0;
showSlides();



const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '8a0a32071dmshc3f86074e4ab522p137892jsn57fc53999b6f',
		'X-RapidAPI-Host': 'anime-db.p.rapidapi.com'
	}
};
        
	fetch('https://anime-db.p.rapidapi.com/anime?page=1&size=10&sortBy=ranking&sortOrder=asc', options)
		.then(response => {
			if(!response.ok){
				throw Error("ERROR")
			}
			return response.json()
		})
		.then(data => {
			const animeData = data.data
				.map(anime => {
				return `
				<div class="animes">
					<p>Title:${anime.title}</p>
					<p>Ranking:${anime.ranking}</p>
					<p>Episodes:${anime.episodes}</p>
					<p>Status:${anime.status}</p>
				</div>	
				`
			}).join("")
		
			console.log(animeData)
			document.querySelector('#animeList').insertAdjacentText('afterbegin', animeData)
			


		})
		.catch(err => console.error(err));


function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script>



