
<form action="" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div>
				Title: <input type="name" name="title" value="{{comment.title}}">
			</div>
			<div id="update_textarea">
				Comment: 
			</div>	
				<textarea class="update_textarea" type="text" name="comment" rows="4" cols="60" >{{comment.comment}} </textarea>
			<div id="submit_update">
				<input class="submit_update_btn" type="submit" name="update-btn" value="UPDATE">
			</div>
		</form>

{{#if isLoggedIn}}
			<form action="/account/sign-out"  method="POST"> 
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<button class="logout-button" type="submit" name="logout" id="logout">Logout</button>
			</form>
{{/if}}	