<div></div>

<img src="/images/ErenPFP.jpg" class=""></a>



{{#if isLoggedIn}}
			<form action="/account/sign-out"  method="POST"> 
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<button class="logout-button" type="submit" name="logout" id="logout">Logout</button>
			</form>
{{/if}}	