
<form action="" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div>
				Username: <input type="name" name="username" value="{{user.username}}">
			</div>
			<div id="submit_update">
				<input class="submit_update_btn" type="submit" name="update-btn" value="UPDATE"UPDATE>
			</div>
		</form>

{{#if isLoggedIn}}
			<form action="/account/sign-out"  method="POST"> 
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<button class="logout-button" type="submit" name="logout" id="logout">Logout</button>
			</form>
{{/if}}	